recursive-include mlm_gibbs/tests/data *.csv *.json
recursive-include mlm_gibbs/both_levels/tests/data *.csv *.json
recursive-include mlm_gibbs/lower_levels/tests/data *.csv *.json
recursive-include mlm_gibbs/upper_levels/tests/data *.csv *.json
graft mlm_gibbs/examples
